body {
    background-color: #dbd4cb;
    color: #0c0b07;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;    margin: 0
}
h1 {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 70px;
    transform: scaleY(1.2);
    margin-top: 150px
}
h2 {
    color: #6b533c;
    margin-top: 40px;
}

.check-btn {
    background-color: #947252;
    color: #dbd4cb;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 12px rgba(7, 7, 7, 0.15);
    margin-top: 20px;

}

.check-btn:hover {
    background-color: #463825;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    color: #6b533c;
    border: 1px solid #b9a185;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    width: 250px;
    height: 20px;
    text-align: center;
}

.eye-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #6b533c;
}

.eye-btn:hover {
    color: #463825;
}